
:root {
    --color-black: #000000;
    --color-secondary-1: #F23CA8;
    --color-secondary-2: #F55F44;
    --color-background-1: #243F57;//#2E4560;//#364F6B;
    --color-background-2:#364F6B;// #486586;
    --color-background-3: #C4C4C4;
    --color-background-4: #364F6B;//#486586;//#6F91B7;

    --color-text-1: #A6F0F4;
    --color-text-2: #61EAF2;
    --color-text-3: #e3e7e7;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
  
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --color-line: #578B8E;
  
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.15);
  
    --line: 5px solid var(--color-line);
  }
  
  $bp-largest: 106.25em; //1700px
  $bp-larger: 93.75em; //1500px
  $bp-large: 68.75em; //1100px
  $bp-medium: 56.25em; //900px
  $bp-small: 37.4em; //600px
  $bp-smallest: 25em; //400px
  
  * {
    margin: 0;
    padding: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 75%; //1rem = 12px, 12px/16px = 75%
    
    @media only screen and (max-width: $bp-larger) {
      font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
    }
    @media only screen and (max-width: $bp-large) {
      font-size: 37.5%; // 1rem = 8px,   8/16 = 50%
    }
    @media only screen and (max-width: $bp-smallest) {
      font-size: 30%; // 1rem = 8px,   8/16 = 50%
    }
    
    // @media only screen and (max-width: $bp-small) {
    //   font-size: 50%; // 8/16 = 50%
    // }
    
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: var(--color-background-1);
    display: grid;
    overflow-x: hidden;
    
    grid-template-rows: 6.5rem 1fr;
    grid-template-columns: 1.3fr 90rem 1fr;
    @media only screen and (max-width: 700px) {
      grid-template-columns: 1fr 80rem 1fr;
    }
    

    
}

.arrow-btn{
  grid-column: 3/4;
  grid-row: 2/3;
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 10rem;
  position: fixed;
  right: 4rem;
  .myBtn{
    grid-row: 2/3;
    display: none;
    
  }
  svg{
    transition: all 0.3s ease-out;
  }
  .myBtn:hover svg{
    transform: translateY(-1.4rem);
    fill: #61EAF2;
  }
  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}
  .container{
  
    display: none;
    grid-column: 2/3;
    grid-row: 2/3;
    grid-template-rows: repeat(4,min-content) 14rem;
    grid-row-gap: 25rem;
    //  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    //    grid-template-rows: minmax(88vh,min-content) min-content min-content 5vh;
    //  }
  }

  .sicons{
    display: none;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: center;
    align-items: center;
    position: fixed;
    grid-template-rows: 3fr repeat(5,5.5rem) 0.5fr;
    
    height: 100vh;
    left: 3.5rem;
    animation: line6 3s ease-in;
    svg{
      transition: all 0.35s ease-out;
    }
    svg:hover{
      fill: var(--color-text-2);
      transform: translateY(-6px); 
    }
    @media only screen and (max-width: $bp-medium) {
      grid-template-rows: 3fr repeat(5,6.5rem) 0.5fr;
      svg{
          width: 23px;
          height: 23px;
      }
    }

    @media only screen and (max-width: 700px) {
      grid-column: 1/4;
      position: absolute;
      bottom: 2rem;
    }

    &-github{
      position: relative;
      left: 1px;
      grid-row: 2/3;  
      @media only screen and (max-width: $bp-medium) {
        left: 3px;
      }
  
    }
    
    &-hackerearth{
      position: relative;
      left: 2px;
      grid-row: 3/4;
      @media only screen and (max-width: $bp-medium) {
        left: 4px;
        svg{
          width: 20px;
          height: 20px;
        }
      }
    
    }


    &-linkedin{
      position: relative;
      grid-row: 4/5;
      @media only screen and (max-width: $bp-medium) {
        left: 3px;
      }
    
    }

    &-codepen{
      position: relative;
      left: -1px;
      grid-row: 5/6;
      @media only screen and (max-width: $bp-medium) {
        left: 3px;
      }
  
    }

    &-hackerrank{
      position: relative;
      left: -3px;
      grid-row: 6/7;
      @media only screen and (max-width: $bp-medium) {
        left: 2px;
      }
    }
  }


