.btn{
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,rgba( #f80759,0.2), rgba(#bc4e9c,0.2)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-width: 0.3rem;
    border-radius: 5px;
    border-style: solid;
    border-image-slice: 1;
    transition: transform 0.3s ease-in-out;
    border-image-source: linear-gradient(to left, #f80759, #bc4e9c);
    z-index: 1;
}
.btn:active{
    transform: translateY(-1rem);
}
.resume{
    width: 100%;
}

.btn:after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;

    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f80759, #bc4e9c);
    transition: all .25s ease-in-out;
}
.btn:hover:after{
    height: 100%;
    .resume{
        color: var(--color-background-1);
        z-index:10;
    }

}
.btn:hover{
    a{
        color: var(--color-background-1);
        z-index:10;
    }
}
.resume:hover{
    color: var(--color-background-1);
    z-index:10;
}


a:link {
    text-decoration: none;
    
}

.resume{
    color: var(--color-secondary-1)
}


a:visited {
    text-decoration: none;
}

.link{
    color: var(--color-text-3);
    transition: transform 0.3s ease-in-out;
    transform: translateY(0);
    
}

.link:hover{
    color: var(--color-text-1);
    transform: translateY(-10px);
}
.link:active{
    transform: translateY(4px);
}
.line{
    
    border-bottom: 4px solid var(--color-line);
}

.icon{
    height: 7.5rem;
    background-color: var(--color-background-2);
    display: flex;
    justify-content: center;
    align-items: center;
}


.header{
    color: var(--color-text-1);
    font-size: 6rem;
}

.p-header{
    background-color: var(--color-background-2);
    font-size: 4rem;
    color: var(--color-text-3);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project1{
    .project1-header{
        transition: all 0.3s ease-in-out;   
    }
    .project1-img{
        transition: all 0.3s ease-in-out;
    }
    .project1-description{
        transition: all 0.3s ease-in-out;
    }
}


.project1:hover{
    .project1-header{
        transform: translateX(-1rem);
    }
    .project1-img{
        transform: translateX(2rem);
    }
    .project1-description{
        transform: translateY(-1rem);  
    }
}


.project2{
    .project2-header{
        transition: all 0.3s ease-in-out;   
    }
    .project2-img{
        transition: all 0.3s ease-in-out;
    }
    .project2-description{
        transition: all 0.3s ease-in-out;
    }
}


.project2:hover{
    .project2-header{
        transform: translateX(1rem);
    }
    .project2-img{
        transform: translateX(-2rem);
    }
    .project2-description{
        transform: translateY(1rem);  
    }
}

.project3{
    .project3-header{
        transition: all 0.3s ease-in-out;   
    }
    .project3-img{
        transition: all 0.3s ease-in-out;
    }
    .project3-description{
        transition: all 0.3s ease-in-out;
    }
}


.project3:hover{
    .project3-header{
        transform: translateX(-1rem);
    }
    .project3-img{
        transform: translateX(2rem);
    }
    .project3-description{
        transform: translateY(-1rem);  
    }
}

.project4{
    .project4-header{
        transition: all 0.3s ease-in-out;   
    }
    .project4-img{
        transition: all 0.3s ease-in-out;
    }
    .project4-description{
        transition: all 0.3s ease-in-out;
    }
}


.project4:hover{
    .project4-header{
        transform: translateX(-4rem);
    }
    .project4-img{
        transform: translateX(-2rem);
    }
    .project4-description{
        transform: translateY(1rem);  
    }
}

.project5{
    .project5-header{
        transition: all 0.3s ease-in-out;   
    }
    .project5-img{
        transition: all 0.3s ease-in-out;
    }
    .project5-description{
        transition: all 0.3s ease-in-out;
    }
}


.project5:hover{
    .project5-header{
        transform: translateX(4rem);
    }
    .project5-img{
        transform: translateX(2rem);
    }
    .project5-description{
        transform: translateY(-1rem);  
    }
}



@keyframes line-animate-1{
    from{
        width:0;
    }
    to{
        width: 100%;
    }
}
@keyframes line-animate-2{
    0%{

      width: 300%;
    }
    34%{
       
       width: 300%;
    
    }
    65%{
        width: 300%;
       
    }
    100%{
        width: 100%;
    }
}

@keyframes line-animate-3{
    0%{
        height:0;
    }
    50%{     
        height: 0;
    }
    100%{
        height: 41.30rem;
    }
}

@keyframes animate-line1{
    0%{
        width: 57rem;
    }
    100%{
        width: 0;
    }
}
@keyframes animate-line3{
    0%{
        height: 0;
    }
    50%{
        height: 0;
    }
    100%{
        height: 32.6rem;
    }
}
@keyframes animate-line2{
    0%{
       width: 0;
    }
    34%{
       width: 0;
    }
    65%{
        width: 0;
    }
    100%{
        width: 35rem;
    }
}