.menubar{
    grid-row: 1/2;
    grid-column: 1/4;
    display: none;
    position: fixed;
    width: 100%;

    padding: 2.8rem 5rem 1.8rem 5rem;
    color: var(--color-text-3);
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    animation : line4 3s ease-out;



    backdrop-filter: blur(10px);
    transition: all 0.3s;
    z-index: 11;
    transform: translateY(0px);
    background-color: var(--color-background-1);
   // box-shadow: var(--shadow-light);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;


    &-1{
        grid-column: 2/3;
    }
    &-2{
        grid-column: 3/4;
    }
    &-3{
        grid-column: 4/5;
    }
    &-4{
        grid-column: 5/6;
    }

}

.front{
    display: grid;
    grid-row: 1/2;
    grid-template-columns: 1fr 4px;
    position: relative;
    top: 2.5rem;

    height: 41.8rem;
    width: 88rem;
    @media only screen and (max-width: $bp-small) {
        height: 30rem;
        width: 50rem;
    }
    &-line{
        position: relative;
        top: 2.5rem;
        display: block;
        height: 41.6rem;
        grid-column: 2/3;
        background-color: var(--color-line);
        animation: line-animate-3 2s linear;
        @media only screen and (max-width: $bp-small) {
            display: none;
        }
    }
}
.frontpage{
    grid-column: 1/2;

    position: relative;
    top: 2.5rem;
    //border-right: 4px solid var(--color-line);
    height: 41.15rem;
    width: 88rem;
    @media only screen and (max-width: $bp-small) {
        width: 52rem;
    }
    &__1{
        position: relative;
        display: grid;
        color: var(--color-text-2);
        font-size: 2.8rem;
        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
            left: 8rem;
        }
        grid-template-columns: 6rem 1fr;
        &-text{
            position: relative;
            top: -2rem;
            grid-column: 1/2;
            animation: line1 0.4s ease-out;
            

        }
        &-line{
            // position: relative;
            // top: 2rem;
            grid-column: 2/3;
            border-top: 4px solid var(--color-line);
            animation: line-animate-1 1s linear;
            @media only screen and (max-width: $bp-small) {
                border: none;
            }
        }

    }
    &__2{
        position: relative;
            top: -1.5rem;
        color: var(--color-text-2);
        font-size: 2.8rem;
        @media only screen and (max-width: $bp-small) {
            left: 8rem;
            font-size: 1.8rem;
        }
        animation: line2 0.7s ease-out;
    }
    &__3{
        position: relative;
            top: -1.5rem;
        color: var(--color-text-1);
        font-size: 10rem;
        @media only screen and (max-width: $bp-small) {
            left: 8rem;
            font-size: 7rem;
        }
        position: relative;
        left: -1rem;
        animation: line3 1.1s ease-out;
    }
    &__4{
        position: relative;
        top: -0.7rem;
        color: var(--color-text-3);
        font-size: 2.2rem;
        @media only screen and (max-width: $bp-small) {
            left: 8rem;
            font-size: 1.5rem;
        }
        width: 45%;      
        animation: line4 1.5s ease-out; 
    }
    &__btn{
        position: relative;
        top: 2rem;
        font-size: 2rem;
        
        color: var(--color-secondary-1);
        display: grid;
        justify-content: center;
        align-items: center;
        height: 5rem;
        width : 10rem;
        border-radius: 10px;
        animation: line5 1.8s ease-out;
        @media only screen and (max-width: $bp-small) {
            left: 8rem;
            font-size: 1.2rem;
            height: 3.2rem;
            width : 6rem;
        }
    }

    &__line{
        position: relative;
        display: grid;
        top: 4.2rem;
        grid-template-columns: 30rem 1fr;
        height: 4px;
        
        &-1{
            grid-column: 1/2;
            z-index: 1;
            width: 100%;
            position: relative;
            background-color: var(--color-background-1);
            animation: line-animate-2 3s linear;
            
        }
        &-2{
            width: 100%;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr;
            position: relative;
            grid-column: 2/3;
            background-color:var(--color-line);
            @media only screen and (max-width: $bp-small) {
                display: none;
            }
        }
    }
}

.aboutme{
    grid-row: 2/3;

    display: grid;
    position: relative;
    
    top: 2.5rem;
    grid-template-rows: 12rem 1fr;
    
    &__header{
        grid-row: 1/2;
        @media only screen and (max-width: $bp-small) {
            position: relative;
            left: 8rem;
        }
        
    }
    &__container{
        display: grid;
        grid-template-columns: 4px 1fr;
        grid-template-rows: 1fr;
        position: relative;
        top: 4rem;
        left: 10rem;
        height: 32.6rem;
        //border-left: 4px solid var(--color-line);
        grid-row: 2/3;
        
        width: 75rem;
        @media only screen and (max-width: $bp-small) {
            width: 60rem;
            height: 20rem;
            grid-template-columns: 2.5px 1fr;
        }
        &-line1{
            grid-column: 2/3;
            grid-row: 1/2;
            height: 4px;
            width: 57rem;
            display: grid;
            grid-template-columns: 0 57rem;
            &-1{
                grid-column: 1/2;
                width: 100%;
                z-index: 1;
                background-color: var(--color-background-1);
                animation: animate-line1 1s linear;
            }
            &-2{
                grid-column: 2/3;
                background-color: var(--color-line);
            }
            @media only screen and (max-width: $bp-small) {
                height: 2.5px;
                width: 40rem;
                grid-template-columns: 0 48rem;
            }
        }
        &-text{
            grid-row: 1/2;
            grid-column: 2/3;
            padding: 7rem 8rem;
            color: var(--color-text-3);
            font-size: 2.5rem;
            @media only screen and (max-width: $bp-small) {
                font-size: 1.8rem;
                padding: 6rem 5rem;
            }
        }
        &-line2{
            grid-column: 2/3;
            position: relative;
            left:-4px;
            height: 4px;
            background-color: var(--color-line);
            width: 35rem;
            animation: animate-line2 3s linear;
            @media only screen and (max-width: $bp-small) {
                height: 2.5px;
                left: -2px;
                width: 28rem;
            }
        }
        &-line3{
            grid-row: 1/2;
            grid-column: 1/2;
            height: 32.6rem;
            background-color: var(--color-line);
            animation: animate-line3 2s linear;
            @media only screen and (max-width: $bp-small) {
                height: 21rem;
            }
        }
    }
    &__pic{
        position: relative;
        top: 5rem;
    }
}

.myskills{
    grid-row: 3/4;
    display: grid;
    
    position: relative;
    
    top: 2.5rem;
    grid-template-rows: 12rem 1fr;
    &__header{
        grid-row: 1/2;
    }
    &__icons{
        grid-row: 2/3;
        display: grid;
        padding-top: 6rem;
        position: relative;
        left: -2.5rem;
        justify-content: center;
        grid-template-rows: repeat(5,5.7rem);
        grid-template-columns: repeat(5,8rem);
        grid-column-gap: 3.8rem;
        &-1{
            grid-row: 3/4;
            grid-column:1/2;
            
        }
        &-2{
            grid-row: 2/3;
            grid-column: 2/3;
        }
        &-3{
            grid-row: 4/5;
            grid-column:2/3;
        }
        &-4{
            grid-row: 1/2;
            grid-column:3/4;
        }
        &-5{
            grid-row: 3/4;
            grid-column: 3/4;
        }
        &-6{
            grid-row: 5/6;
            grid-column: 3/4;
        }
        &-7{
            grid-row: 2/3;
            grid-column: 4/5;
        }
        &-8{
            grid-row: 4/5;
            grid-column: 4/5;
        }
        &-9{
            grid-row: 3/4;
            grid-column: 5/6;
        }

    }
}
.myprojects{
    grid-row: 4/5;
    display: grid;
    position: relative;
    grid-template-columns: 42rem 48rem;
    grid-template-rows: 10rem 25rem 55rem 50rem 30rem 50rem;
    @media only screen and (max-width: $bp-small) {
        grid-template-rows: 10rem repeat(4,min-content);
        grid-template-columns: 18rem 60rem;
    }

    grid-row-gap: 10rem;
    &__header{
        position: relative;
        top: 4rem;
        grid-row: 1/2;
        @media only screen and (max-width: $bp-large) {
            grid-column: 1/3;
        }
    }
    &__project{
        &-1{
            grid-row: 2/3;
            grid-column: 1/2;
            
            display: grid;
            position: relative;
            left: -4rem;
            grid-template-columns: 5rem 24rem 8rem 5rem 15rem;
            grid-template-rows: 3rem 5rem 8rem 11rem 18rem;
            @media only screen and (max-width: $bp-small) {
                grid-column: 2/3;
                grid-template-columns: 5rem 24rem 14rem 5rem 5rem;
            }
            //transition: all 1s ease-in-out;
            &--header{
                grid-row: 2/3;
                grid-column: 3/6;  
                box-shadow: var(--shadow-light); 
            }
            &--img{
                grid-row: 1/5;
                grid-column: 1/4;
                background-image: url('/img/todolist.png');//var(--color-background-3);
                background-position: center;
                background-size: cover;
                z-index: 1;
                box-shadow: var(--shadow-dark);
            }
            &--description{
                padding: 14rem 2rem 2rem 3.5rem;
                grid-row: 4/6;
                grid-column: 2/5;
                background-color: var(--color-background-2);
                font-size: 2rem;
                color: var(--color-text-3);
                box-shadow: var(--shadow-dark);
                
            }
        }
        &-2{
            grid-row: 3/4;
            grid-column: 2/3;
            display: grid;
            grid-template-columns: 8rem 5rem 8rem 23rem 7rem;
            grid-template-rows: 22rem 8rem 10rem 5rem 5rem;
            @media only screen and (max-width: $bp-small) {
                grid-column: 2/3;
                grid-template-columns: 0rem 5rem 15rem 25rem 5rem ;
            }
            &--header{
                grid-row: 4/5;
                grid-column: 1/4;
                position: relative;
                left: -9rem;
                width: 130%;
                box-shadow: var(--shadow-light);
            }
            &--img{
                grid-row: 2/6;
                grid-column: 3/6;
                background-image: url('/img/weatherapp.png');//var(--color-background-3);
                background-position: center;
                background-size: cover;
                z-index: 1;
                box-shadow: var(--shadow-dark);
            }
            &--description{
                padding: 4rem 2rem 2rem 4rem;
                grid-row: 1/3;
                grid-column: 2/5;
                background-color: var(--color-background-2);
                font-size: 2rem;
                color: var(--color-text-3);
                box-shadow: var(--shadow-dark);
                @media only screen and (max-width: $bp-small) {
                    padding: 5rem 3rem 3rem 4.5rem;
                }
            }
        }
        &-3{
            grid-row: 4/5;
            grid-column: 1/3;
            display: grid;
            grid-template-columns: 20rem 22rem 10rem 20rem 20rem;
            grid-template-rows: 5rem 5rem 10rem 17rem 5rem;
            @media only screen and (max-width: $bp-small) {
                grid-column: 2/3;
                grid-template-rows: 3rem 5rem 8rem 11rem 18rem;
                grid-template-columns: 5rem 24rem 14rem 6rem 0rem;
            }
            &--header{
                grid-row: 2/3;
                grid-column: 3/5;
                box-shadow: var(--shadow-light);
            }
            &--img{
                grid-row: 1/5;
                grid-column: 1/4;
                background-image: linear-gradient(
                    to right bottom,
                    rgba( #486586,0.15),
                    rgba( #486586,0.15));
                    // url('../img/chaqua.png');
               // background-image: url('/img/chaqua.png');//var(--color-background-3);
                background-position: center;
                background-size: cover;
                z-index: 1;
                box-shadow: var(--shadow-dark);
            }
            &--description{
                grid-row: 4/6;
                grid-column: 2/6;
                
                background-color: var(--color-background-2);
                font-size: 2rem;
                color: var(--color-text-3);
                padding: 5rem 4rem 3rem 38.8rem;
                @media only screen and (max-width: $bp-small) {
                    grid-column: 2/6;
                    padding: 13rem 4rem 3rem 4rem;
                    
                }
                box-shadow: var(--shadow-dark);
            }
        }
        &-4{
            grid-row: 5/6;
            grid-column: 1/2; 
            display: grid;
            position: relative;
            left: -5rem;
            grid-template-rows: 20rem 3rem 2rem 3rem 18rem;
            grid-template-columns: 5.5rem 30rem 3rem 7rem 24rem;
            @media only screen and (max-width: $bp-small) {
                grid-column: 2/3;
                grid-template-columns: 5.5rem 20rem 10rem 10rem 7rem;
            }
            &--header{
                grid-row: 3/5;
                grid-column: 4/6;
                @media only screen and (max-width: $bp-small) {
                    grid-column: 3/6;
                    
                }
                box-shadow: var(--shadow-light);
            }
            &--img{
                grid-row: 2/6;
                grid-column: 2/5;
                background-image: linear-gradient(
                    to left bottom,
                    rgba( #486586,0.35),
                    rgba( #486586,0.20)),
                    url('../img/calci.png');
                background-position: center;
                background-size: cover;
                z-index: 1;
                box-shadow: var(--shadow-dark);
            }
            &--description{
                grid-row: 1/4;
                grid-column: 1/3;
                @media only screen and (max-width: $bp-small) {
                    grid-column: 1/4;
                    
                }
                background-color: var(--color-background-2);
                font-size: 2rem;
                color: var(--color-text-3);
                padding: 3.5rem;
                box-shadow: var(--shadow-dark);
                @media only screen and (max-width: $bp-small) {
                    .github{
                        position: relative;
                        left: 25rem;
                    }
                }
            }
        }
        &-5{
            grid-row: 6/7;
            grid-column: 2/3;
            display: grid;
            position: relative;
            left: -5rem;
            grid-template-columns: 12rem 7rem 2rem 30rem 6rem;
            grid-template-rows: 18rem 2rem 3rem 4rem 20rem;
            @media only screen and (max-width: $bp-small) {
                grid-template-columns: 3rem 7rem 7rem 30rem 6rem;
                
            }
            &--header{
                grid-row: 2/4;
                grid-column: 1/3;
                @media only screen and (max-width: $bp-small) {
                    grid-column: 1/4;
                    
                }
                position: relative;
                left: -7rem;
                width: 130%;
                box-shadow: var(--shadow-light);
            }
            &--img{
                grid-row: 1/5;
                grid-column: 2/5;
                background-image: linear-gradient(
                    to right,
                    rgba( #486586,0.35),
                    rgba( #486586,0.1)),
                    url('../img/tic.PNG');
                    background-position: center;
                background-size: cover;

                z-index: 1;
                box-shadow: var(--shadow-dark);
            }
            &--description{
                grid-row: 3/6;
                grid-column: 4/6;
                @media only screen and (max-width: $bp-small) {
                    grid-column: 3/6;
                    
                }
                background-color: var(--color-background-2);
                font-size: 2rem;
                color: var(--color-text-3);
                padding: 11rem 3rem 3rem 4rem;
                box-shadow: var(--shadow-dark);
            }
        }
    }
}

.footer{
    grid-row: 5/6;
    display: grid;
    grid-template-rows: 2rem 6.5rem 2rem 3.5rem;
    @media only screen and (max-width: 700px) {
        grid-template-rows: 6rem 6.5rem 2rem 3.5rem;
    }
    &-space{
        display: none;
        grid-row: 1/2;
    }
    &-text{
        grid-row: 2/3;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-text-1);
        font-size: 1.7rem;
        font-weight: 50;
    }
    &-icon{
        grid-row: 3/4;
        display: grid;
        align-items: center;
        justify-content: center;
        svg{
            transition: all 0.35s ease-out;
            
        }
        svg:hover{
            fill: var(--color-text-2);
            cursor: pointer;
            transform: translateY(-3px);
        }
        @media only screen and (max-width: $bp-medium) {
            svg{
                height: 20px;
                width: 20px;                
            }
        }
    }
    &-space1{
        grid-row: 4/5;
    }
}